{% extends 'base.html' %}

{% block content %}
<div class="row mb-4">
    <div class="row mb-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>📊 Dashboard de {{ request.user.username }}</h2>
        <a href="{% url 'crear_test' %}" class="btn btn-success">
        Crear Test
        </a>
      </div>

  <!-- Tarjeta resumen -->
  <div class="col-md-4">
    <div class="card text-white bg-primary mb-3 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">🧪 Tests Realizados</h5>
        <p class="card-text display-6">{{ test }}</p>
      </div>
    </div>
  </div>


  <!-- Tabla de resultados -->
  <table class="table table-hover table-bordered table-striped text-center align-middle mb-0">
    <thead class="table-dark">
      <tr>
        <th scope="col">
          👥 Alumnos
          <br>
          <form method="GET" action="{% url 'dashboard_professor' %}">
             <input type="hidden" name="titulo" value="{{ titulo_filtrado }}">
            <select name="usuarios" class="form-label" onchange="this.form.submit()">
              <option value="" {% if not usuarios %}selected{% endif %}>Todos</option>
              {% for nombre in nombres %}
                <option value="{{ nombre }}" {% if nombre == usuarios %}selected{% endif %}>
                  {{ nombre }}
                </option>
              {% endfor %}
            </select>
          </form>
        </th>

        <th scope="col">📅 Fecha</th>

        <th scope="col">
          📝 Título
          <br>
          <form method="GET" action="{% url 'dashboard_professor' %}">
            <input type="hidden" name="usuarios" value="{{ usuarios }} ">
            <select name="titulo" id="titulo" class="form-label" onchange="this.form.submit()">
              <option value="" {% if not titulo_filtrado %}selected{% endif %}>Todos</option>
              {% for nombre_titulo in titulos %}
                <option value="{{ nombre_titulo }}" {% if nombre_titulo == titulo_filtrado %}selected{% endif %}>
                  {{ nombre_titulo }}
                </option>
              {% endfor %}
            </select>
          </form>
        </th>

        <th scope="col" class="text-success">✔️ Aciertos</th>
        <th scope="col" class="text-danger">❌ Fallos</th>
        <th scope="col">💬 Comentario</th>
        <th scope="col">🔍 Detalles</th>
      </tr>
    </thead>

    <tbody>
      {% for test_usuarios in test_usuarios %}
      <tr>
        <td>{{ test_usuarios.user.username }}</td>
        <td>{{ test_usuarios.fecha|date:"d/m/Y H:i" }}</td>
        <td class="fw-semibold">{{ test_usuarios.test_title }}</td>
        <td class="text-success fw-bold">{{ test_usuarios.aciertos }}</td>
        <td class="text-danger fw-bold">{{ test_usuarios.fallos }}</td>
        <td>
          {% if test_usuarios.tiene_comentario %}
            <a href="{% url 'modificar' id=test_usuarios.id %}?titulo={{ titulo_filtrado | default:'' }}&usuarios={{ usuarios }}" class="btn btn-sm btn-success">💬 Comentado</a>
          {% else %}
            <a href="{% url 'comentarios' tests_id=test_usuarios.id %}?titulo={{ titulo_filtrado | default:''}}&usuarios={{ usuarios }}" class="btn btn-sm btn-danger">💬 Sin Comentar</a>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'detalle_resultado_test' test_usuarios.id %}" class="btn btn-outline-primary btn-sm">🔍 Ver</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-muted fst-italic">No hay resultados que coincidan con el filtro seleccionado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
