{% extends 'base.html' %}

{% block title %}Dashboard Administrador{% endblock %}

{% block content %}
<!-- Encabezado del dashboard con estilo llamativo -->
<div class="p-4 bg-danger text-white rounded mb-4">
  <h1>
    <span class="material-icons">admin_panel_settings</span>
    Estás en el Dashboard del Administrador
 </h1><hr>
  <p>
    Bienvenido, <strong>{{ user.username }}</strong>. Aquí puedes ver y gestionar tus DuckyTools.
  </p><hr>
</div>

<!-- Botón principal de acción -->
<a href="{% url 'cv_panel' %}" class="btn btn-danger btn-lg">
  <span class="material-icons align-middle">home</span>
  Gestionar Mi Perfil
</a>
{% endblock %}
