{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>{{ course.title }}</h2>
  <p>{{ course.description }}</p>
  <p><strong>Precio:</strong> {{ course.price }} €</p>

  <h4 class="mt-4">Módulos</h4>
  <ul class="list-group">
    {% for module in course.modules.all %}
    <li class="list-group-item">
      <a href="{% url 'module_detail' module.pk %}">{{ module.title }}</a>
    </li>
    {% empty %}
    <li class="list-group-item">No hay módulos.</li>
    {% endfor %}
  </ul>
  {% if request.user.groups.first.name == "teacher" %}
  <div class="mb-3">
    <a href="{% url 'course_update' course.id %}" class="btn btn-warning">Editar curso</a>
    <a href="{% url 'course_delete' course.id %}" class="btn btn-danger"
       onclick="return confirm('¿Estás seguro de que deseas eliminar este curso?')">Eliminar curso</a>
  </div>
{% endif %}
</div>
{% endblock %}