
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h3>{{ module.title }}</h3>
  <p><strong>Orden:</strong> {{ module.order }}</p>
  <h4>Unidades</h4>
  <ul class="list-group">
    {% for unit in module.units.all %}
    <li class="list-group-item">
      <a href="{% url 'unit_detail' unit.pk %}">{{ unit.title }}</a>
   <a href="{% url 'unit_detail' unit.pk %}" class="btn btn-info btn-sm">Ver unidad</a>

    </li>
    {% empty %}
    <li class="list-group-item">No hay unidades en este módulo.</li>
    {% endfor %}
  </ul>
  {% for module in course.modules.all %}
  <div class="accordion-item">
    ...
 
</div>
 {% if request.user.groups.first.name == "teacher" %}
      <a href="{% url 'module_update' module.id %}" class="btn btn-sm btn-outline-warning">Editar módulo</a>
      <a href="{% url 'module_delete' module.id %}" class="btn btn-sm btn-outline-danger"
         onclick="return confirm('¿Eliminar este módulo?')">Eliminar módulo</a>
    {% endif %}
{% endblock %}
