{% extends 'base.html' %}

{% block title %}Nueva pregunta privada - DuckyProject{% endblock %}

{% block content %}
<div class="container mt-4">
    <a href="{% url 'forum_home' %}" class="btn btn-link text-decoration-none mb-2">
        <span class="material-icons align-middle">arrow_back</span> Volver al foro
    </a>
    <h1 class="mb-4">Pregunta a un Profesional</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ from.sector }}
        {{ form.professional }}
    </form>
</div>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#id_sector').change(function () {
        var sectorId = $(this).val();
        $.ajax({
            url: '/ajax/cargar-profesionales/',
            data: { 'sector': sectorId },
            success: function (data) {
                var $profesional = $('#id_profesional');
                $profesional.empty();
                $.each(data, function (key, value) {
                    $profesional.append('<option value="' + value.id + '">' + value.nombre + '</option>');
                });
            }
        });
    });
</script>